{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/Main.css' %}" </link>

        {% if title %}
          <title>Portfolio - {{title}}</title>
        {% else %}
          <title>Portfolio</title>
        {% endif %}
    </head>
    <body>
        <div class="nav">
            <ul>
                <!-- Navbar Left Side -->
              <li><a href="{% url 'portfolio-home' %}">Home</a></li>
              <li> <a href="{% url 'portfolio-projects' %}">Projects</a></li>
              <li><a href="{% url 'portfolio-resume' %}">Resume</a></li>
              <li><a href="{% url 'portfolio-about' %}">About</a></li>
              <!-- Navbar Right Side -->
              <li id="nav_right"><a href="{% url 'portfolio-contact' %}">Contact Me</a></li>
            </ul>



        </div>
        {% block content %}{% endblock %}
        <div class="content">
            <p>
                Hi, I'm Steven Chang
            </p>
        </div>
        <div class="footer">
            Contact Info
        </div>
    </body>
</html>
