{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'portfolio/main.css' %}" </link>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Raleway:wght@500&display=swap" rel="stylesheet">


        {% if title %}
          <title>Portfolio - {{title}}</title>
        {% else %}
          <title>Portfolio</title>
        {% endif %}
    </head>
    <body>
        <nav id="navbar">
            <div class="logo">
                <h4><a href="{% url 'portfolio-home' %}">Home</a></h4>
            </div>
            <ul class="nav-links">
                <!-- Navbar Right Side -->
                <li class="nav-element"><a href="#about">About</a></li>
                <li class="nav-element"><a href="#skills">Skills</a></li>
                <li class="nav-element"><a href="#projects">Projects</a></li>
                <li class="nav-element"><a href="#contact-me">Contact Me</a></li>

                <li><div>
                    <a id="resume-btn" target="_blank" href="{% url 'portfolio-resume' %}">Resume</a></li>
                </div>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <div class="content">
            <div class="intro-section">
                <div class="intro">
                    <h4>Hi, my name is</h4>
                    <h1 id="name">Steven Chang<strong>.</strong></h1>

                    <h1>I Like Building Software.</h1>
                </div>
                <div class="intro-paragraph">
                    <p>
                        I am a software engineering student, based in the bay area.
                    </p>
                </div>
                <div class="contact-me-btn">
                    <a href="mailto:sjkchang@gmail.com">Get In Contact</a>
                </div>
            </div>
            <hr class="seperator"></hr>
            <div class="about" id="about">
                <h1>About.</h1>
                <div class="about-content">
                    <p class="about-paragraph">
                        I am currently going into my third year as
                        a student at San Jose State University, majoring
                        in software engineering. I enjoy writing software
                        be it a website, application, or anythong in between.
                        <br>
                        <br>
                        Currently, the majority of my software engineering experience
                        is in school work, and personal projects I build in my off time,
                        but I hope that can change.
                        <br>
                        <br>
                        When I am not programming, you will find me snowboarding, hiking,
                        playing video games, or expanding my knowledge.
                    </p>

                    <img src="{% static 'portfolio/images/me.jpg' %}" alt="" class="me">
                </div>
            </div>
            <hr class="seperator"></hr>
            <div class="skills" id="skills">
                <h1>Skills.</h1>
                    <ul class=skills-list>
                        <li>
                            <div class="skills-elements">
                                <ul>
                                    <li class="first">Languages</li>
                                    <li>Java</li>
                                    <li>Python</li>
                                    <li>JavaScript</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>SQL</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="skills-elements">
                                <ul>
                                    <li class="first">Frameworks</li>
                                    <li>Django</li>
                                    <li>Flask</li>
                                    <li>JUnit</li>
                                    <li>SQLAlchemy</li>
                                    <li>pytest</li>
                                    <li class="background-color">\ </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="skills-elements">
                                <ul>
                                    <li class="first">Tools</li>
                                    <li>UML</li>
                                    <li>Bash</li>
                                    <li>Git/Github</li>
                                    <li>Unity</li>
                                    <li>Wireframe</li>
                                    <li>Lightroom</li>
                                    <li>Photoshop</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
            </div>
            <hr class="seperator"></hr>
            <div class="projects" id="projects">
                <h1>Projects.</h1>
                <ul class="projects-list">
                    <li>
                        <div class="project">
                            <h2>Cloze</h2>
                            <p>Cloze is a small scale productivity manager web app allowing users to track meals and create to-do lists, challenges, and journals. This is a undeployed flask website developed as a group project for a software engineering class.</p>
                            <hr class="buffer"></hr>
                            <a href="https://github.com/sjkchang/vigilant-waffle" target="_blank">
                                <img src="{% static 'portfolio/images/GitHub-Mark-Light-32px.png' %}" class="resize" alt="">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="project">
                            <h2>Sorting-Visualizer</h2>
                            <p>A Java sorting visualizer that utilizes the Swing library. Bubble sort, Insertion sort, and Seletion sort are implemented.</p>
                            <hr class="buffer"></hr>
                            <a href="https://github.com/sjkchang/Sorting-Visualizer" target="_blank">
                                <img src="{% static 'portfolio/images/GitHub-Mark-Light-32px.png' %}" class="resize" alt="">
                            </a>
                            <a href="https://github.com/sjkchang/Sorting-Visualizer/blob/master/Sorting-Visualizer.jar" target="_blank">
                                <img src="{% static 'portfolio/images/external-link-24.png' %}" class="resize" alt="">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="project">
                            <h2>Starfield</h2>
                            <p>Starfield/firework particle simulator, particles move in interesting patterns.</p>
                            <hr class="buffer"></hr>
                            <a href="https://github.com/sjkchang/Starfield" target="_blank">
                                <img src="{% static 'portfolio/images/GitHub-Mark-Light-32px.png' %}" class="resize" alt="">
                            </a>
                            <a href="https://sjkchang.github.io/Starfield/" target="_blank">
                                <img src="{% static 'portfolio/images/external-link-24.png' %}" class="resize" alt="">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="project">
                            <h2>Chemotaxis</h2>
                            <p>A simulation of organisms moving away from a starting position using a random walk.</p>
                            <hr class="buffer"></hr>
                            <a href="https://github.com/sjkchang/Chemotaxis" target="_blank">
                                <img src="{% static 'portfolio/images/GitHub-Mark-Light-32px.png' %}" class="resize" alt="">
                            </a>
                            <a href="https://sjkchang.github.io/Chemotaxis/" target="_blank">
                                <img src="{% static 'portfolio/images/external-link-24.png' %}" class="resize" alt="">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="contact-me" id="contact-me">
                <h1>Contact Me.</h1>
                <div class="contact-me-paragraph">
                    <p>I'm currently looking for any opportunities, my inbox is open.</p>
                </div>
                <div class="contact-me-btn">
                    <a href="mailto:sjkchang@gmail.com">Get In Contact</a>
                </div>
            </div>
        </div>
        <footer>
            <h4>Designed and Built by Steven Chang</h4>
        </footer>
        <script src="{% static 'portfolio/js/app.js' %}"></script>
    </body>
</html>
