*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overscroll-behavior: none;
}

body{
    height: 600px;
    background-image: url(images/code-blur.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Montserrat', sans-serif;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    margin-left: 10px;
    margin-right: 10px;

}

.logo{
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
}

.logo a{
    text-decoration: none;
    color: #cccccc;

}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #cccccc;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: .875rem;
}

.burger{
    display: none;
    cursor: pointer;

}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #cccccc;
    margin: 5px;
}

@media screen and (max-width: 760px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #5d4954;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
