*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: white;
    overscroll-behavior: none;
    height: 90vh;
    background-color: #cccccc;
    background-image: url(images/code-blur.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;

}

/* Nav Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    margin-left: 2%;
    margin-right: 2%;

}

.logo{
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
    margin-left: 3%;
}

.logo a{
    text-decoration: none;
    color: #cccccc;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
    padding: 2px;

}

.nav-links a{
    color: #cccccc;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: .875rem;
}

.nav-links a:hover{
    color: #14aac4;
}

#resume-btn{
    color: #05ab9c;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 3px 5px;
}

.burger{
    margin-right: 3%;
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #cccccc;
    margin: 5px;
}

@media screen and (max-width: 760px) {
    body{
        overflow-x: hidden;

    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #222222;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }

    .burger{
        display: block;
    }

    .intro h4{
        font-size: 2.8vw ;
    }

    .intro h1{
        font-size: 10vw ;
        font-style: italic;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Content */
.content{
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 16%;
}

/* intro */
#name{
    color: #14aac4;
}

.intro{
    margin-bottom: 3%;
    color: #05ab9c;
}

.intro h4{
    font-size: 1.8vw ;
}

.intro h1{
    font-size: 6.5vw ;
    color: #05ab9c;
}

.intro-paragraph{
    font-size: 1.2rem;
}

.intro-paragraph p{
    margin-right: 20vw;
}

.spacer{
    height: 500px;
}

.contact-me-btn{
    margin-top: 10vh;
}
.contact-me-btn a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 10px;

}



/* Footer */
footer{
    height: 20px;
    background-color: red;
}

#jump{

}
