*{
    margin: 0;
    padding: 0;
}

html, body {
    overscroll-behavior: none;
}

body{
    font-family: Tahoma, Geneva, sans-serif;
    font-size:16px;
    font-weight:normal;

    background-image: url(images/bird-tree.jpg);
    height: 100rem
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.nav {
    font-size: 1.4em;
    top: 0;
    width: 100%
}

.nav ul{
     list-style-type: none;
     margin: 1rem;
     padding: 0;
     overflow: hidden;
     border-bottom: solid white 1px;
}

.nav li{
    display: inline;
    float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0rem 1rem 1rem 1rem;
  text-decoration: none;
}

.nav li a:hover {
  color: #ede68a;
}

#nav_right{
    float: right;
    display: inline;
}

#nav_right a{
    color: #b0a565;
}

#nav_right a:hover{
    color: #ede68a;
}

.content{
    padding:30px;
    margin-top:30px;
    color: white;
    font-size: 2.4em;
    max-height: 550px;
    min-height: 550px;
}

.footer{
    background: #c49000;
    height: 50px;
}
